.htaccess
/cli/
/media/
/images/
/cache/
/logs/
/tmp/
/includes/
/plugins/
/robots.txt
/configuration.php
/README.txt
/web.config.txt
/LICENSE.txt
/index.php
/htaccess.txt
/nbproject

administrator/*
!administrator/components
administrator/components/*
!administrator/components/com_ipie
!administrator/components/com_falang
administrator/components/com_falang/*
!administrator/components/com_falang/contentelements

components/*
!components/com_ipie

modules/*
!modules/mod_ipie_search
!modules/mod_ipie_sectors

templates/*
!templates/ipie/
!templates/ipie_bo/

language/it-IT/*
!/language/it-IT/it-IT.com_ipie.ini
!/language/it-IT/com_ipie_email_tpl
language/en-GB/*
!/language/en-GB/en-GB.com_ipie.ini
!/language/en-GB/com_ipie_email_tpl

libraries/*
!/libraries/tcpdf_min

