<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset name="mail"
		label="Configurazione Posta"
		description=""
                addfieldpath="/administrator/components/com_ipie/models/fields"
	>
            <field name="tos_article"
                type="modal_article"
                label="Privacy"
                description=""
                />
                
            <field name="sender_email"
                type="text"
                label="Email Mittente"
                description=""
                />
                
            <field name="sender_name"
                type="text"
                label="Nome Mittente"
                description=""
                />
                
            <field name="system_email"
                type="text"
                label="Email UnionCamere"
                description="Email usata per la ricezione delle notifiche"
                />
                
            <field name="admin_mail_province_1"
                type="text"
                label="Email Admin Alessandria"
                description="Email usata per la ricezione delle notifiche al responsabile provinciale"
                />
                
            <field name="admin_mail_province_2"
                type="text"
                label="Email Admin Asti"
                description="Email usata per la ricezione delle notifiche al responsabile provinciale"
                />
                
            <field name="admin_mail_province_3"
                type="text"
                label="Email Admin Biella"
                description="Email usata per la ricezione delle notifiche al responsabile provinciale"
                />
                
            <field name="admin_mail_province_4"
                type="text"
                label="Email Admin Cuneo"
                description="Email usata per la ricezione delle notifiche al responsabile provinciale"
                />
                
            <field name="admin_mail_province_5"
                type="text"
                label="Email Admin Novara"
                description="Email usata per la ricezione delle notifiche al responsabile provinciale"
                />
                
            <field name="admin_mail_province_7"
                type="text"
                label="Email Admin Verbania"
                description="Email usata per la ricezione delle notifiche al responsabile provinciale"
                />
                
            <field name="admin_mail_province_8"
                type="text"
                label="Email Admin Vercelli"
                description="Email usata per la ricezione delle notifiche al responsabile provinciale"
                />
                
	</fieldset>

	<fieldset name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>

		<field name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_ipie"
			section="component" />
	</fieldset>

</config>
