.avviso {
	border: 1px solid #ea6427;
	text-align: center;
	margin-top: 10px;
	/*float: left; */ /*width: 99%;*/
	padding: 15px 10px 15px 40px;
	font-size: 1.1em;
	font-weight: bold;
	background: url(../images/avviso.png) no-repeat 2px 50%;
	background-color: #fff;
}

.superstrong {
	font-weight: bold;
	color: #e75012;
	font-size: 1.1em;
	text-align: center;
}

.nota { border-top: 1px solid #ccc; padding-top: 1em; font-size: 0.95em; }

.spazio {
	margin-top: 1em;
}
ul.arancio {
	width: 100%;
	margin: 0px!important; padding: 1.5em 0px 0px 0px!important;
	background: url(../images/riga_or.jpg) no-repeat;
}
ul.arancio li {
	background: url(../images/fr_arancio.gif) no-repeat 0px 0.25em !important;
	padding-left: 18px!important;
	margin-bottom: 5px!important;
	font-weight: bold;
	font-size: 1.1em;
}
ul.arancio li a {
	color: #EA6427!important;
	text-decoration: none;
}
